################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
C#/.vs/
C#/CastleGame/bin/
C#/CastleGame/obj/
C#/.vs/CastleGame/v16/.suo
C#/.vs/CastleGame/DesignTimeBuild/.dtbcache
C#/.vs/CastleGame/v16/.suo
