################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
CSharp/.vs/
CSharp/CastleGame/bin/
CSharp/CastleGame/obj/
CSharp/CastleGame/.vs/

