################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/C\#/.vs/
/C\#/CastleGame/bin/
/C\#/CastleGame/obj/
